*{
    margin: 0;
    position: relative;
    box-sizing: border-box;
}
body{
    font-family: 华文楷体;
    line-height: 1.6;
    font-size: 22px;
    text-align: center;
    color:#dcd9d9;
    height: fit-content;
    overflow-x: hidden;
}
audio{
    display: none;
}
:root {
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #008997;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 420px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
    align-items: center;
    background-color: var(--white);
    background-image: url("../img/bg01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: 100vh;
    place-items: center;
}

.form__title {
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.25rem;
    color: #bbb9b9;
}

.link {
    color: var(--gray);
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}

.container {
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: var(--max-height);
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    width: 100%;
}

.container__form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.container--signin {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .container--signin {
    transform: translateX(100%);
}

.container--signup {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container.right-panel-active .container--signup {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.container__overlay {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.container.right-panel-active .container__overlay {
    transform: translateX(-100%);
}

.overlay {
    background-color: var(--lightblue);
    background: url("../img/bg01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay--left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay--left {
    transform: translateX(0);
}

.overlay--right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay--right {
    transform: translateX(20%);
}

.btn {
    background-color: var(--blue);
    background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
    border-radius: 20px;
    border: 1px solid var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.btn--forgot{
    color: #ff9999
}
.form>.btn {
    margin-top: 1.5rem;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
}

.input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
}
.feedback{
    color: #a8b3c4;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

/* 模态框样式 */
.modal {
    display: none; /* 默认不显示 */
    position: fixed; /* 固定位置 */
    z-index: 1; /* 放在顶层 */
    left: 0;
    top: 0;
    width: 24%; /* 全屏宽 */
    height: auto; /* 全屏高 */
    overflow: auto; /* 允许滚动 */
    background-color: rgb(0,0,0); /* 背景颜色 */
    background-color: rgba(0,0,0,0.4); /* 黑色背景，透明度 */
}

/* 模态框内容样式 */
.modal-content {
    background-color: #fefefe;
    margin: 5% 5%; /* 15% 从上边距自动居中 */
    padding: 5px;
    border: 1px solid #888;
    width: 90%; /* 宽度80% */
}

/* 关闭按钮样式 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 99;
}
/* 模态框按钮样式 */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 4px;
}

.modal-button {
    padding: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease;
    flex: 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.back-link-container{
position: relative;
    display: flex;
justify-content: center;
padding: 3px;
border-top: 1px solid #eee;
background-color: rgba(255, 255, 255, 0.6);}

/* 返回链接样式 */
.back-link{
color: #5f5f5f;
text-decoration: none;
font-size: 24px;
transition: color 0.3s ease;
display: flex;
align-items: center;}

/* 返回链接悬停效果 */
.back-link:hover{
color: #07c160;}

/* 返回链接前添加小箭头图标 */
.back-link::before{
content: "←";
margin-right: 8px;
font-size: 16px;}

/* 页脚样式 */
footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.2em 0;
    width: 100%;
    bottom: 0;
    position: absolute;
}

footer p {
    margin: -2px;
    font-size: 24px;
}

/* 响应式样式 */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}
